[submodule ".vim/pack/plugins/start/vim-terraform"]
	path = .vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".vim/pack/plugins/start/rainbow"]
	path = .vim/pack/plugins/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
